.background {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
}

.header {
    height: 100px;
    padding-top: 33px;
    background-color: #61dafb;
    display: flex;
    justify-content: space-between;
    padding-right: 26px;
}

.coursesTitle {
    color: white;
    font-family: 'Arial';
    background-color: black;
    width: 350px;
    padding: 26px;
    font-size: 1.3rem;
    border-radius: 26px;
    margin-top: 20px;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
}

.nameButton {
    width: 296px;
    height: 75px;
    background: #282c34;
    color: white;
    border-radius: 26px;
    margin-left: 26px;
    text-decoration: none;
    border: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.verificationPopup {
    width: 600px;
    height: 600px;
    margin-left: 31%;
    margin-top: 5%;        /* change to 14%? */
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FFFFFF;
    border-radius: 5px;
}

.popupTitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.015em;
    padding-left: 61px;
    padding-top: 100px;
    color: #000000;
    margin-bottom: 20px;
}

.popupOKButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    display: flex;
    width: 56px;
    height: 35px;
    margin-left: 61px;
    margin-top: 20px;

    /* FFS Light Blue */
    background: #61dafb;
    border-radius: 16px;
    border: none;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #0F0F0F;
    cursor: pointer;
}

.popupOKButton:hover {
    background-color: hsl(200, 90%, 65%);
}

#payNow {
    width: 90px;
}

.addCourseButton {
    font-family: "Arial";
    background-color: #282c34;
    border: 1px solid #61dafb;
    font-size: 0.9rem;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}

.addCourse-label{
    padding-left: 61px;
}

.login-input{
    padding-left: 10px;
    background-color: #F6F6F6;
    width: 300px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #A2A2A2;
    border-radius: 4px;
    margin-left: 10px;

    font-family: "Arial";
    padding: 0px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
}

.currentCourseTitle {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

#nextCourse {
    height: 200px;
}