.background {
    min-height: 100vh;
    background-color: #282c34;
}

.header {
    height: 100px;
    padding-top: 33px;
    background-color: #61dafb;
    display: flex;
    justify-content: space-between;
    padding-right: 26px;
}

.coursesTitle {
    color: white;
    font-family: 'Arial';
    background-color: black;
    width: 350px;
    min-height: 100vh;
    padding: 26px;
    font-size: 1.3rem;
    border-radius: 26px;
    margin-top: 20px;
    margin-left: 26px;
}

.nameButton {
    width: 296px;
    height: 75px;
    background: #282c34;
    color: white;
    border-radius: 26px;
    margin-left: 26px;
    text-decoration: none;
    border: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}